* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.img21{
	width: 30%;
	height: 40%;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/RightGrotesk-TightMedium.otf);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/RightGrotesk-TightMedium.otf);
	font-weight: 900;
}
body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	/* background-image: url(../img/ground.png);	 */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

body::-webkit-scrollbar{
    width: 0.5rem;
    
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #23582C;
}	
.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	/* text-transform:  ; */
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
	
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
}
.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.content {
	will-change: transform;
}
.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}
.logo{
	width: 50%;
	z-index: 999;
	margin-bottom: 60px;
}
#menu {
	z-index: 2;
	/* background-color: black; */
	
	width: 100%;
	margin: 22px 0px 0px 0px;  
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: fixed; */
  }
  
  #menu-bar {
	width: 45px;
	height: 40px;
	margin-left: 50px;
	cursor: pointer;
  }
  
  .bar {
	height: 3px;
	width: 90%;
	background-color: white;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
	margin-top: 04px;
  }
  .datediv{
	width: 17%;
  }
  .date{
	margin-left: 17px;
	width: 100%;
  }
  #bar1 {
	transform: translateY(-4px);
  }
  
  #bar3 {
	transform: translateY(4px);
  }
  
  .nav {
	z-index: 999;
	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	transition: 0.3s ease;
  }
  #nav{
	/* position: fixed; */
  }
  .ticketa{
	width: 08%;
	margin-right: 50px;
  }
  .ticket{
	width: 100%;
  }
  
  .nav ul {
	padding: 0 22px;
  }
  
  .nav li {
	list-style: none;
	padding: 12px 0;
  }
  
  .nav li a {
	color: rgb(0, 0, 0);
	font-size: 20px;
	text-decoration: none;
  }
  #vis{
	  display: none;
	  margin-top: 19%;
	  position: absolute;
	  margin-left: 25px;
  }
  .sizee{
	font-size: ;
  }
  .ticket{
	
  }
  
  .nav li a:hover {
	font-weight: bold;
  }
  
  .menu-bg, #menu {
	top: 0;
	left: 0;
	position: absolute;
  }
  
  .menu-bg {
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	position: fixed;
	background: radial-gradient(circle, #fffb13, #b9e338);
	border-radius: 50%;
	transition: 0.3s ease;
  }
  
  .change {
	display: block;
  }
  
  .change .bar {
	background-color: rgb(0, 0, 0);
  }
  
  .change #bar1 {
	transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
	opacity: 0;
  }
  
  .change #bar3 {
	transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
	width: 520px;
	height: 460px;
	transform: translate(-60%,-30%);
  }
  .mainsecondpage{
	/* height: 100vh; */
	margin-left: 50px;
  }
  .secondpage{
	margin-top: 60px;
	/* width: 100vh; */
	background-color: black;
  }
  .about-heading{
	color: white;
	/* margin-top: 100px; */
	font-size: 200px;
  }
  .some{
	height: 01%;
  }
.item img{
    width: 100%;
    height: 100%;
}
.item{
    width: 100%;
    height: 100%;
}
.same{
    height: 500px;
    width: 500px;
}
#footer{
	text-align: center;
	position: flex;
	justify-content: space-between;
	margin-top: 40px;
	height: 100px;
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
}
.policycenter{
	margin-top: 10px;
	margin-right: 20px;
	display: inline-block;
}
@media screen and (max-width: 768px) {
    .date{
		/* margin-left: 17px; */
		width: 100%;
		/* margin-bottom: 1000px; */
	}
	.datediv{
		width: 45%;
		margin-right: 10px;
	  }

	.ticketa{
		width: 18%;
		margin-right: 10px;
	  }
	.ticket{
		width: 100%;
	  }
	#menu {
		z-index: 2;
		/* background-color: black; */
		
		width: 100%;
		margin: 35px 0px 0px 0px;  
		display: flex;
		justify-content: space-between;
		align-items: center;
	  }

	#vis{
		display: none;
		margin-top: 68%;
		margin-left: 220%;
		position: absolute;
		margin-left: 10px;
	}
	#menu-bar {
		width: 45px;
		height: 40px;
		margin-left: 10px;
		cursor: pointer;
	  }
	.logo{
		width: 50%;
		z-index: 999;
		margin-bottom: 100px;
	}
	.about-heading{
		color: white;
		/* margin-top: 100px; */
		font-size: 100px;
	  }
	  .mainsecondpage{
		/* height: 100vh; */
		margin-left: 15px;
	  }
	  .some{
		margin-top: 40px;
	  }
}